font-family: 'Poppins', sans-serif;*/

/************** Default CSS **************/
*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding:0;
  margin:0;
}
body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-style: normal;
  padding: 0;
  margin: 0;
  color:#333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
   
}

section{
  overflow-x: hidden;
}
a,
.button,
button {
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:hover {
  text-decoration: none;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  text-decoration: none;
  outline: none;
}

button {
  cursor: pointer
}

ul,
ol {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-style: normal;
  margin-top: 0px;
  line-height: 1.3;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 30px;
  line-height: 1.5;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 24px;
}

a {font-size: 16px;font-weight: 400;text-decoration: none;color: #a8a8a8;}

.container-fluid{
  width:100%;
  padding:0px 15px;
  margin:0 auto;
}

.container{
  max-width:1230px;
  padding:0px 15px;
  margin:0 auto;
}

/************** Default CSS End **************/

/* header css start  */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 18px;
  z-index: 999;
}

.nav-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav.navagation-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul.sub-menu li {
  display: block;
  width: 100%;
  padding: 0px !important;
}

ul.sub-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #faf9f9;
}

nav.navagation-items ul.sub-menu li a {
  padding: 15px 30px 15px 15px !important;
  display: block;
  color: #000 !important;
  border-bottom: 1px solid #666!important;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  white-space: nowrap;
  letter-spacing: 0.3px;
  position: relative;
}
nav.navagation-items ul.sub-menu li a:after {
    display: none;
}
nav.navagation-items ul.sub-menu li a:hover {
  background: #666!important;
  color: #fff !important;
}

nav.navagation-items li a {
  font-size: 15px;
  color: #fff !important;
  position: relative;
  letter-spacing: 0.45px;
}
li.submenu-item {
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

ul.sub-menu {
  position: absolute;
  /* width: 302px; */
  -webkit-transition: .4s ease-out,opacity .1s ease-out;
  -o-transition: .4s ease-out,opacity .1s ease-out;
  transition: .4s ease-out,opacity .1s ease-out;
  top: calc(100% - 6px - 0px)!important;
  left: 20px;
  /* opacity: 0; */
  z-index: -10;
  height: 0;
  overflow: hidden;
}

li.submenu-item a i {
  font-size: 16px;
  display: inline-block;
  position: relative;
  left: 5px;
  top: 1px;
  font-weight: 400;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
nav.navagation-items ul li.submenu-item:hover i {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
li.submenu-item:hover .sub-menu {
  opacity: 1;
  top: calc(100% - -4px - 0px)!important;
  z-index: 100;
  height: auto;
  overflow: visible;
}

nav.navagation-items ul.sub-menu li:last-child a {
  border-bottom: 0px !important;
}

nav.navagation-items li a:hover:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

nav.navagation-items li a:after {
  width: 100%;
  height: 0px;
  background: #fff;
  content: "";
  position: absolute;
  bottom: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  left: 0;
  border-bottom: 2px solid #fff;
  bottom: -5px;
  opacity: 0;
  -webkit-transition: opacity .2s ease-out,-webkit-transform .2s ease-out;
  transition: opacity .2s ease-out,-webkit-transform .2s ease-out;
  -o-transition: transform .2s ease-out,opacity .2s ease-out;
  transition: transform .2s ease-out,opacity .2s ease-out;
  transition: transform .2s ease-out,opacity .2s ease-out,-webkit-transform .2s ease-out;
}
nav.navagation-items li a.current-page:after {
 
  -webkit-transform: scaleX(1);
 
      -ms-transform: scaleX(1);
 
          transform: scaleX(1);
 
  opacity: 1;
   
}
nav.navagation-items ul li {
  padding: 0px 20px;
}
.contact-button ul li a {
    background: #000;
    padding: 17px 45px;
    border-radius: 30px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    border: 2px solid #000;
    display: block;
    margin-top: 5px;
}

.contact-button ul li a:hover {
    background: transparent;
    border-color: #fff;
}

.logo a img {
    width: 100%;
    max-width: 176px;
}

nav.navagation-items {padding-top: 29px;}
.single-slide img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
}
header.sticky-header {
  background: #000;
  padding: 12px 0px;
  z-index: 99999;
}
.humberger {
  display: none;
}
header.sticky-header .contact-button ul li a {
  background: #fff;
  color: #000;
}

nav.navagation-items header.sticky-header {
  padding-top: 20px;
}
header.sticky-header .contact-button ul li a:hover {
  background: transparent;
  color: #fff;
}
.mobile-close{
  display:none;
}
.mobile-big-btn {
  display: none;
}
li.mobile-show-icon {
  display: none;
}
/* banner area   */
.banner-area {
    position: relative;
    height: 966px;
    width: 100%;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width: 100%;
    z-index: 99;
}

.bannerSlider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.single-slide {
    width: 100%;
    height: 100%;
}

.slick-track {
    height: 100%;
}

.slick-list {
    height: 100%;
}

.banner-area:after {
    content: "";
    background: url(../img/banner-angle.webp);
    bottom: 0;
    width: 100%;
    height: 178px;
    left: 0;
    z-index: 999;
    position: absolute;
    background-repeat:
    no-repeat;
}

.banner-text {
    text-align: center;
    padding-top: 50px;
}

.banner-text h1 {
    color: #fff;
    position: relative;
    padding-bottom: 32px;
}

.banner-area:before {
    content: "";
    background: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 9;
    opacity: 0.5;
}

.banner-text h2 {
    color: #fff;
    padding-top: 38px;
}

.banner-text h1:after {
    content: "";
    position: absolute;
    left: 50%;
    height: 2px;
    width: 80px;
    background: #fff;
    bottom: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.banner-logo {
}

.banner-logo img {
    width: 100%;
    max-width: 277px;
}

a.contact-button {
    display: inline-block;
    background: #fff;
    padding: 13px 32px;
    border-radius: 30px;
    font-weight: 700;
    color: #000;
    margin-top: 34px;
    border: 2px solid #fff;
}
a.contact-button:hover {
    background: transparent;
    color: #fff;
}
/* header css end  */

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.col-6 {
    width: 50%;
}

.content-image img {
    width: 100%;
    height: 100%;
}

.content-box {
    background: #f4f4f4!important;
    padding: 45px;
    box-shadow: rgba(0,0,0,.25) 0 3px 11px 0!important;
    -moz-box-shadow: rgba(0,0,0,.25) 0 3px 11px 0!important;
    -webkit-box-shadow: rgba(0,0,0,.25) 0 3px 11px 0!important;
    border-radius: 3px;
    margin-right: 5px;
    height:100%;
}
.content-box ul li {
  list-style: disc;
  list-style-position: inside;
  font-weight: 300;
}

.content-box ul {
  margin-bottom: 24px;
  margin-top: -12px;
}
.content-image {
    height: 100%;
    margin-left: 5px;
}

.content-box h2 {
    padding-bottom: 14px;
}

.content-box h4 {
    font-style: italic;
    padding-bottom: 14px;
    font-weight: 600;
}

.content-box p:last-child {
    margin-bottom: 0;
}
section.content-section1 {
    padding-top: 33px;
    padding-bottom: 50px;
}



/* services area  */
.services-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 39.5% 10px 60%;
  grid-template-columns: 39.5% 60%;
  gap: 10px;
}

.right-two-service {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 10px auto;
  grid-template-columns: auto auto;
  gap: 10px;
}

.single-service a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  position: relative;
  /* z-index: 5; */
  display: block;
}

.single-service {
  height: 100%;
  position: relative;
  overflow: hidden;
}



.single-service h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  width: 100%;
  color: #fff;
  text-align: center;
  z-index: 999;
}

.services-wrap {
  padding: 40px;
}

.right-service {
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

.single-service a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  z-index: 9;
}

.single-service:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.single-service a {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}
section.content-section1.bg-gray {
  background-repeat: no-repeat;
  background: #e2e2e3;
  padding-bottom: 64px;
  padding-top: 64px;
}
section.services-section {
    padding-bottom: 20px;
}


/* cta area  */
section.cta-area {
  min-height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-attachment: fixed!important;
  background-size: cover!important;
}section.cta-area:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  opacity: 0.5;
}

.cta-text h2 {
  font-size: 38px;
  color: #fff;
  text-align: center;
  position: relative;
  padding-bottom: 30px;
}

.cta-text {
  text-align: center;
  position: relative;
  z-index: 99;
  padding: 137px 0px;
}

.cta-text h2:after {
  content: "";
  position: absolute;
  left: 50%;
  height: 2px;
  width: 80px;
  background: #fff;
  bottom: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.cta-text h3 {
  color: #fff;
  padding-top: 24px;
  padding-bottom: 32px;
}

a.custom-btn {
  display: inline-block;
  background: #fff;
  padding: 14px 59px;
  border-radius: 30px;
  font-weight: 700;
  color: #000;
  border: 2px solid #fff;
}

a.custom-btn:hover {
  background: transparent;
  color: #fff;
}

section.content-section1.bg-gray2 {
  background: #f4f4f5;
  padding-top: 50px;
}

/* testimonial */
.testimonial-wrap img {
  width: 100%;
  max-width: 71px;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-bottom: 40px;
}

p.author {
  margin: 0 !important;
  background: #000;
  display: inline-block;
  border-radius: 30px;
  padding: 13px 22px;
  color: #fff;
  font-weight: 700 !important;
}
section.testimonial-area {
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-attachment: initial!important;
    background-position: 0 50%!important;
    position: relative;
    padding: 119px 0px;
}

section.testimonial-area:after {
    position: absolute;
    content: "";
    background: #000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.testimonial-wrap {
    position: relative;
    z-index: 99;
}

.single-item p {
    color: #fff;
    font-weight: 400;
    margin-bottom: 18px;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 28px;
  background: none;
  border: none;
  color: #fff;
}

.slick-arrow i {
  font-weight: 400 !important;
}

button.arrow-left.slick-arrow {
  left: -44px;
  
}

button.arrow-right.slick-arrow {
  right: -44px;
}
 

/* footer  */
.footer-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
  border-bottom: 2px solid #666;
  padding-bottom: 36px;
}

footer {
  background: #333;
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer-logo img {
  width: 100%;
  max-width: 280px;
}

.footer-info img {
  width: 100%;
  max-width: 32px;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-bottom: 9px;
}

.footer-info h4 {
  font-size: 18px;
  color: #fff;
  font-style: italic;
  margin-bottom: 8px;
}

.footer-info p {
  color: #fff;
}

.footer-info p a {
  color: #fff;
}

.open-hours-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 16px;
  gap: 16px;
}

.footer-info {
  text-align: center;
}

.copyright p {
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding-top: 12px;
}
img.locationicon {
    max-width: 17px;
    margin-bottom: 18px;
}

img.phoneicon {
    max-width: 36px;
    margin-bottom: 8px;
}


/* service page  */
.otherpage-banner {
  height: 440px;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: 0 50% !important;
}

 

.otherpage-banner-content {
  position: absolute;
  left: 50%;
  bottom: 78px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
  z-index: 9;
}

.otherpage-banner-text h1 {
  font-size: 60px;
  color: #fff;
}

.otherpage-banner-text img {
  width: 100%;
  max-width: 255px;
  margin-bottom: 8px;
}

.otherpage-banner:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #000;
  opacity: 0.5;
}
.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 16px;
}

.row.reverse .content-box {
  margin-right: 0;
}

.row.reverse .content-image {
  margin-left: 0;
}

.row.reverse .custom-btn {
  background: #000;
  color: #fff;
}

.row.reverse .custom-btn:hover {
  color: #000;
  background: transparent;
  border-color: #000;
}
section.content-section1.servicepage-padding {
  padding-top: 50px;
}
nav.navagation-items ul.sub-menu li a.active {
  background: #666!important;
  color: #fff !important;
}

/* testimonial  */
.testimonials-icon img {
  width: 100%;
  max-width: 46px;
}

.single-testimonials {
  background-color: rgba(255,255,255,1) !important;
  box-shadow: rgb(0 0 0 / 25%) 0 3px 11px 0 !important;
  -moz-box-shadow: rgba(0,0,0,0.25) 0 3px 11px 0 !important;
  -webkit-box-shadow: rgb(0 0 0 / 25%) 0 3px 11px 0 !important;
  max-width: 510px;
  padding: 20px;
}

.testimonials-footer p {
  margin: 0 !important;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
}

.testimonials-footer h6 {
  font-size: 18px;
  font-style: italic;
}

.testimonials-icon {
  padding-top: 10px;
}

.single-testimonials p {
  margin-bottom: 14px;
}

section.testimonials-section {
  padding-top: 88px;
  background: #f5f5f6;
  padding-bottom: 50px;
}
.testimonials-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 32px auto;
    grid-template-columns: auto auto;
    gap: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* .contact page  */
.contact-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 65%;
  grid-template-columns: 35% 65%;
}

section.map-area {
  margin-top: 106px;
}

.contactus-wrap {
  padding-bottom: 90px;
  text-align: center;
}

section.contact-us-section {
  padding-top: 65px;
}

.contactus-wrap h2 {
  font-size: 45px;
  padding-bottom: 13px;
}

.contactus-wrap h3 {
  color: #000;
  padding-bottom: 17px;
}

.single-contact-info h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-left h3 {
  font-size: 45px;
  margin-bottom: 29px;
}

.open-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

section.map-area iframe {
  display: block;
}
/************** Template CSS End **************/ 